*{
	margin: 0; padding: 0; box-sizing: border-box;
}
header{
	width: 100%; height: 100vh;
	background: url(images/4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
nav{
	width: 100%; height: 15vh;
	background: rgb(0, 0, 0, 0.2);
	color: white; display: flex; justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
nav.logo{
width: 25%;
text-align: center;
}
nav .menu{
	width: 40%;
	display: flex;
	justify-content: space-evenly;
	

}
nav .menu a{
	width: 40%;
	text-decoration: 2px;
	color: white;
	font-weight: bold;
	margin-right: 100px;
	line-height: 60px;
	text-align: center;
}
nav .menu a:first-child{
	color: #00b894;
}
nav .menu a.hover{
	color: red;
	background: blue;
}
main{
	width: 100%;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center; color: white;
}
section{




}
section h3{
	font-size: 35px; font-weight: 200; letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;

}
section h1{
	margin: 30px 0 20px 0;
	font-size: 55px;
	font-weight: 700px;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
}
section p{
	font-size: 25px;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;
}
section a{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500px;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;
}
section .btnone{
	background: #00b894;
	color: white;
}
.btnone hover{
	background: #00b894;
	color: white;
}
section .btntwo{
	background: #00b894;
	color: white;
}
.change_content:after{
	content: '';
	animation: changetext 3s infinite linear;
	color: #00b894;
}

@keyframes changetext{
	0%{content:"Mars";}
	20%{content: "Mercury";}
	35%{content: "Jupiter";}
	60%{content: "Earth";}
	80%{content: "Chandrayan2";}
	100%{content: "Neptune";}
}







/** Gallery **/
#contents #gallery {
	min-height: 900px;
	width: 860px;
	padding: 20px 50px 0;
}
#gallery h1 {
	background: url(../images/separator-light.png) repeat-x left bottom;
	padding: 0 0 6px;
}
#gallery .items {
	list-style: none;
	margin: 0;
	padding: 0;
}
#gallery .items li {
	background: url(../images/separator-light.png) repeat-x left bottom;
	display: inline-block;
	width: 100%;
	margin: 0 0 18px;
	padding: 0 0 24px;
}
#gallery .items li h5 {
	color: #241b18;
	font-family: "Oswald";
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 18px;
	text-transform: uppercase;
}
#gallery .items li p {
	color: #626161;
	padding-right: 10px;
}
#gallery .frame {
	float: left;
	background-position: 0 0;
	height: 264px;
	width: 418px;
	margin-left: -38px;
	padding: 1px 21px 0 41px;
	text-align: center;
}
#gallery .details {
	margin: 0 0 18px;
}
#gallery .items .details h5 {
	margin: 0;
}
#gallery .details p {
	color: #626161;
	padding: 0;
}
#gallery .details p b {
	color: #241b18;
	font-weight: normal;
	text-transform: uppercase;
}
#gallery .price {
	color: #ab7d0f;
	font-size: 22px;
}
/** About **/
#about p span {
	font-size: 12px;
}
#about #main h1 {
	background: url(../images/separator-light.png) repeat-x left bottom;
	padding: 0 0 18px;
}
#about #main h4 {
	color: #626161;
	font-family: "Oswald";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
	text-transform: uppercase;
}
/** Contact **/
@import url('https:// fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
.contact
{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(images/sun.jpg);
	background-size: cover;
}
.contact .content
{
	max-width: 800px;
	text-align: center;
}
.contact .content h2
{
	font-size: 36px;
	font-weight: 500;
	color: lightblue;
}
.contact .content p
{
	font-weight: 300;
	color: #fff;
}
.container
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactInfo
{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box
{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactInfo .box .icon
{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactInfo .box .text
{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}
.container .contactInfo .box .text h3
{
	font-weight: 500;
	color: #00bcd4;
}
.contactForm
{
	width: 40%;
	padding: 40px;
	background: #fff;
}
.contactForm h2
{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.contactForm .inputbox
{
	position: relative;
	width: 100px;
	margin-top: 10px;
}
.contactForm .inputbox input
{
	width: 100px;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px o;
	border: none;
}




























